.dashboard-container {
    padding-top: 100px;
    text-align: center;
    color: #000000;
    font-family: 'Exo 2', sans-serif;
}



.dashboard-container h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dashboard-container p {
    font-size: 20px;
    max-width: 600px;
    line-height: 1.5;
}
