@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Exo 2', sans-serif;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: linear-gradient(135deg, #0072ff, #00c6ff);
    position: relative;
    text-align: left;
    padding-left: 10vw;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.login-container.fade-in {
    opacity: 1;
}

.login-container::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70%;
    background: white;
    transform: skewY(-15deg);
    top: 78%;
    left: 0;
    opacity: 0; /* Start invisible */
    animation: fadeIn 1.5s ease-out forwards; /* Smooth fade */
}

.login-box {
    position: relative;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 45px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 400px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

    opacity: 0;  /* Start invisible */
    transform: translateY(20px); /* Slightly down */
    animation: slideFadeIn 1.5s ease-out forwards;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

p {
    font-size: 17px;
    color: white;
}

input {
    display: block;
    width: 90%;
    padding: 12px;
    margin: 10px auto;
    border: none;
    border-radius: 8px;
    text-align: left;
    font-size: 17px;
}

.login-btn {
    background-color: #136795;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 90%;
    margin: 15px auto;
}

.login-btn:hover {
    background-color: white;
    color: #0072ff;
}


.back-btn:hover {
    background-color: white;
    color: #0072ff;
}

a {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: #ffd700;
}

.St3-image {
    position: absolute;
    bottom: 20px;
    left: 700px;
    width: 500px;  /* Adjust size */
    height: auto;
    z-index: 1;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

